body {
    background: #d2d2c1 url('img/foto1.png');
    font: 16px Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 900px;
}

#menu {
    background-color: #c5c5b2;
    padding: 18px;
    text-align: center;
}

#menu a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;

}

#sobre, #campanhas, #contato, #biografia{
    background: #e8e8e9;
    padding: 10px;
}

#sobre h1 {
    font-size: 1.2em;
}

#rodape {
    text-align: center;
    padding-top: 10px;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}